.btn {
    font-size: 18;
}

@import '~nativescript-theme-core/css/core.light.css';

.home-panel{
    vertical-align: center;
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-bottom: 15;
}
