<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="About"></Label>
</ActionBar>



<ScrollView orientation="vertical" class="text-center">
<StackLayout orientation="vertical" class="p-5">
    <template *ngFor="let item of AppDetails">
        <template *ngFor="let items  of item | keyvalue">
            <StackLayout orientation="vertical" class="list-group">
                <Label textWrap="true" class="m-b-5 h3 list-group-item-heading text-capitalize" [text]="items.key" color="black"
                    style="line-height:3;"></Label>
                <Label textWrap="true" class="m-b-25 list-group-item-heading" [text]="items.value" color="black"
                    style="line-height:3;"></Label>
            </StackLayout>
        </template>
    </template>
    <template *ngFor="let item of userProfileList">
        <!-- {{userProfileList}} -->
        <SegmentedBar class="m-15" backgroundColor="red"></SegmentedBar>
        <template *ngFor="let i of item| keyvalue">
            <StackLayout orientation="vertical" class="list-group">
                <Label textWrap="true" class="m-b-5 h3 list-group-item-heading text-capitalize" [text]="i.key" color="black"
                    style="line-height:3;"></Label>
                <Label textWrap="true" class="m-b-25 list-group-item-heading" [text]="i.value" color="black"
                    style="line-height:3;"></Label>
            </StackLayout>
        </template>
        <SegmentedBar class="m-15" backgroundColor="red"></SegmentedBar>
    </template>
</StackLayout>
</ScrollView>