<ActionBar title="Zodiac" class="action-bar" android.icon="res://icon"  android.iconVisibility="always">
  <!-- <Image src="~/images/logo.jpg" class="logo" android.position="left"></Image> -->
  <ActionItem text="Share Text" android.systemIcon="ic_menu_share" (tap)="shareText()" android.position="right"></ActionItem>
</ActionBar>
<StackLayout>
  <ListView [items]="items" class="list-group">
    <ng-template let-item="item">
      
      <!-- <p class="item_lister list-group-item" > -->
        <GridLayout columns="50, auto, *" rows="50, auto, *" width="100%" height="50" class="grid" backgroundColor="white" [nsRouterLink]="['/item', item.id]">
            <!-- <Label text="Label 1" row="0" col="0" backgroundColor="red"> -->
              <img [src]="item.image" alt="" class="item_image" width="150px" height="150px" row="0" col="0" verticalAlignment="middle">
            <!-- </Label>-->
            <Label [text]="item.name" class="item_name" row="0" col="1"  verticalAlignment="middle"></Label>
        </GridLayout>
      <!-- </p> -->
    </ng-template>
  </ListView>
</StackLayout>

