<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" [nsRouterLink]="['/home']"
        pageTransition="slideRight"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" [text]="name"></Label>
</ActionBar>

<StackLayout class="page factsDetailsComponent">
    <!-- <WrapLayout orientation="horizontal" width="100%" height="100%" backgroundColor="lightgray" class="zodiac_list"> -->
        
    <ListView [items]="singlefactList"  class="list-group zodiac_list">  
        <template *ngFor="let item of singlefactList">
                <StackLayout orientation="horizontal" class="list-group-item">
            <Label class="zodiac_name" [text]="item" textWrap="true"></Label>
        </StackLayout>
        </template>
    </ListView>
    <!-- </WrapLayout> -->
</StackLayout>