.zodiac_pane 
{
	text-align: center;
}
.zodiac_name
{
font-size: 25px;
text-align: center;
}
.zodiac_horo
{
font-size: 18px;
/* height: auto;
min-height: 12px; */
/* word-break: break-all; */
}
.item_image
{
	width: 90;
	height: 90;
}